{% extends 'base.html' %}
{% load static %}
{% block title %} products {% endblock %}
{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span> <a
          href="{% url 'store' %}">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Ibuprofen Tablets, 200mg</strong> <span>({{ object.view }})</span></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mr-auto">
        <div class="border text-center">
          <img src="{{ object.image.url }}" alt="Image" class="img-fluid p-5">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{ object.title }}</h2>
        <p>{{ object.description }}</p>


        <p><del>${{ object.pre_price }}</del>  <strong class="text-primary h4">${{ object.price }}</strong></p>



        <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 220px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

        </div>
        <p>{{ cart }}</p>
        {% include 'cart/adcart.html' with product=object cart=cart %}
      </div>
        <div class="mt-5">
          <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Ordering Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Specifications</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <table class="table custom-table">
                <thead>
                  <th>Material</th>
                  <th>Description</th>
                  <th>Packaging</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ object.ordering_information.material_1 }}</th>
                    <td>{{ object.ordering_information.description_1 }}</td>
                    <td>{{ object.ordering_information.packaging_1 }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ object.ordering_information.material_2 }}</th>
                    <td>{{ object.ordering_information.description_2 }}</td>
                    <td>{{ object.ordering_information.packaging_2 }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{ object.ordering_information.material_3 }}</th>
                    <td>{{ object.ordering_information.description_3 }}</td>
                    <td>{{ object.ordering_information.packaging_3 }}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <table class="table custom-table">

                <tbody>
                  <tr>
                    <td>HPIS CODE</td>
                    <td class="bg-light">999_200_40_0</td>
                  </tr>
                  <tr>
                    <td>{{ object.specifications.hpis_code_1 }}</td>
                    <td class="bg-light">{{ object.specifications.S999_200_40_0_1 }}</td>
                  </tr>
                  <tr>
                    <td>{{ object.specifications.hpis_code_2 }}</td>
                    <td class="bg-light">{{ object.specifications.S999_200_40_0_2 }}</td>
                  </tr>
                  <tr>
                    <td>{{ object.specifications.hpis_code_3 }}</td>
                    <td class="bg-light">{{ object.specifications.S999_200_40_0_3 }}</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>



{% endblock %}
