{% extends 'base.html' %}
{% load static %}
{% block title %} products {% endblock %}
{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Checkout</strong> <span class="mx-2 mb-0">/</span> <span class="mx-2 mb-0">Your Order id : {{ object.order_id }}</span>
      </div>
    </div>
  </div>
</div>
<br>
<div class="">
  {% if not billing_profile %}
      <br>
      <br>
      <div class="container ml-5 mr-4">
        <div class="card bg-light " style="margin: auto; width: 70%;">
          <div class="row">
            <div class="col-sm-3 mt-3">
              <div class="ml-4 mt-4">
                {% if user.is_authenticated %}
                <p class="mb-3" ><a class="text-secondary" href="{% url 'password_change' %}">Change Password </a></p>
                <p class="mb-3" ><a class="text-secondary" href="{% url 'password_reset' %}"> Password Reset</a></p>
                {% else %}
                <p class="mb-3" ><a class="text-secondary" href="{% url 'signup' %}">SignUp </a></p>
                <p class="mb-3" ><a class="text-secondary" href="{% url 'login' %}">Login </a></p>
                {% endif %}

              </div>

            </div>
            <div class="vl" style="border-left: 1px solid gray; height: 460px;" ></div>
            <div class="col-sm-8 mt-3">
              <div class="form">
                {% include 'cart/forms.html' with form=login_form next=request.build_absulate_uri %}
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    {% else %}
       {% if not object.shipping_adress %}
       <div class="site-section">
         <div class="container">
           <div class="row mb-5">
             <div class="col-md-12">
               <div class="bg-light rounded p-3">
                 <p class="mb-0">Returning customer? <a href="{% url 'login' %}" class="d-inline-block">Click here</a> to login</p>
               </div>
             </div>
           </div>

       <div class="row">
         <div class="col-md-6 mb-5 mb-md-0">
           <h2 class="h3 mb-3 text-black">Shipping Adress </h2>

           <div class="p-3 p-lg-5 border">
              {% include 'cart/addressform.html' with form=address_form next_url=request.build_absulate_uri %}
           </div>
         </div>


         <div class="col-md-6 mb-5 mb-md-0">
           <br>
           <br>
           <div class="p-3 p-lg-5 border">
             <h2 class="h3 mb-3 text-black text-center">Your Order</h2>
               <table class="table site-block-order-table mb-5">
                 <br>
                 <br>
                 <br>
                 <thead>
                   <th>Product</th>
                   <th>Total</th>
                 </thead>
                 <tbody>
                   {% for product in cart.product.all %}
                   <tr>
                     <td>{{ product.title }}</td>
                     <td>${{ product.price }}</td>
                   </tr>
                     {% endfor %}

                   <tr>
                     <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                     <td class="text-black">${{ object.cart.subtotal }}</td>
                   </tr>
                   <tr>
                     <td class="text-black font-weight-bold"><strong>Shipping Fee</strong></td>
                     <td class="text-black">${{ object.shipping_total }}</td>
                   </tr>
                   <tr>
                     <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                     <td class="text-black font-weight-bold"><strong>${{ object.total }}</strong></td>
                   </tr>
                 </tbody>
               </table>
           </div>
         </div>
         {% else %}

           <div class="row">
            <div class="col-md-8 mb-8 mb-md-0 m-auto">
              <br>
               <h2 class="h3 mb-3 text-black text-center">Your Order</h2>
               <div class="p-3 p-lg-5 border">
                 <table class="table site-block-order-table mb-5">
                   <div class="text ml-4">
                     <p> Name: {{ object.shipping_adress.first_name }} {{ object.shipping_adress.last_name }}</p>
                     <p> Phone: {{ object.shipping_adress.phone }}</p>
                     <p> Adress: {{ object.shipping_adress.adress_1 }}</p>
                     <p class="text"> Order id : {{ object.order_id }}</p>

                   </div>


                   <br>
                   <br>
                   <thead>
                     <th>Product</th>
                     <th>Total</th>
                   </thead>
                   <tbody>
                     {% for product in cart.product.all %}
                     <tr>
                       <td>{{ product.title }}</td>
                       <td>${{ product.price }}</td>
                     </tr>
                       {% endfor %}

                     <tr>
                       <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                       <td class="text-black">${{ object.cart.subtotal }}</td>
                     </tr>
                     <tr>
                       <td class="text-black font-weight-bold"><strong>Shipping Fee</strong></td>
                       <td class="text-black">${{ object.shipping_total }}</td>
                     </tr>
                     <tr>
                       <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                       <td class="text-black font-weight-bold"><strong>${{ object.total }}</strong></td>
                     </tr>
                   </tbody>
                 </table>


                 <div class="form-group">
                   <form class="form" action="" method="POST">  {% csrf_token %}
                     <button class="btn btn-primary btn-lg btn-block" type="submit">Place
                       Order</button>
                   </form>


               </div>
             </div>


           </div>

         </div>

       {% endif %}
     </div>
   </div>
</div>
<br>


{% endif %}

{% endblock %}
